**__pycache__**
**build**
**egg-info**
data/nuscenes
data/kitti/gt_database
data/kitti/testing
data/kitti/training
data/kitti/gt_database_trainval
output/
spconv/
tools/cfgs/experiments/
tools/cfgs/cluster/
tensorboard_sasa/
tensorboard_sasaf/
*.pyc
venv/
*.idea/
*.vscode/
*.so
*.pth
*.pkl
*.zip
*.bin
*.pkl
version.py
